*{
padding: 0;
margin: 0;
}

#b-none { border: none;}

#menuContenido{
    width: 100%;
   
    background-color: #67999A;
    display: flex; 

}
#CuerpoContenido{
    width: 100%;
    background-color: #D3EE9F;
    display: flex; 
    padding-top: 50px;

}
#CuerpoImagen{
    flex: 40%;
        
}
#CuerpoDetalle{
    flex: 60%;

}
footer{
    width: 100%;
    background-color: #7B9E35;

}
#contenidoImagenNombre{
    flex: 30%;

}
#menuContenido{
    flex: 0.1%;
    margin: 15px 20px 0 0;
    text-align: right;
    

}
ul li{
    color:#550101;
    text-decoration: none;
    display: inline;
    border-right: solid 2px #550101;

}
ul li a{
    color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 6px;
}
ul li a:hover{
    color:  white;
    text-decoration: underline;
}
#imagenNombreRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75%;
    position: relative;
    z-index: 1000;
    left: 10px;
    background-image: url("../img/Recurso\ 7.png");
    background-repeat: no-repeat;
    background-size: contain;

}
#nombreRectangulo{
    background-color: #013334;
    width: 10%;
    padding: 20px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 15%;
    text-align: left;

}
#LogoInicio{
    background-image: url("../img/Recurso\ 7.png");
    padding: 2px 0 0 18px;
    background-size: 18px;
    background-repeat: no-repeat;

}
#BordeImagen{
    background-color: #D46B68;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 62%;
    margin: auto;

}
img{
    border-radius: 10px;
}
h1{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
#DatosDetalle{
    text-align: justify;
    margin: 40px 200px 0;
}
#Botones{
    display: flex;
    padding: 30px;

}
#botonFavorito{
    flex: 50%;

}
#botonUbicacion{
    flex: 50%;

}
#marcoFavorito{
    background-image: url(../img/Recurso\ 13.png);
}
.disenoBoton{
    width: 250px;
    background-position: left 5px center;
    background-color: #cccccc;
    border-radius: 10px; 
    background-size: 28px;
    background-repeat: no-repeat;
    padding: 20px 20px 20px 40px;

}
#marcoUbicacion{
    background-image: url(../img/Recurso\ 2.png);

}
.disenoBoton:hover{
    opacity: 55%;
    cursor: pointer;
}
#MenuFooter{
    flex: 20%;

}
#ContenidoFooter{
    flex: 40%;
    text-align: justify;

}
#SocialFooter{
    flex: 40%;

}
nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}
nav a:hover{
    color: #550101;
    font-size: 15px;
}
.SocialesFooter li{
    border: none;
    
}
li img{
    width: 5%;
    padding: 10px;
}
li img:hover{
    opacity: 60%;
    cursor: pointer;
    width: 6%;
}   
#MarcoFooter{
    display: flex;
    padding: 50px;
}
